
<div class="hero-unit">
  <%= "Jerky name: #{@product.name}" %><br>
  <%= "Details: #{@product.description}" %><br>
  <%= "Bargain price: #{@product.price}" %><br><br>

  <%= link_to "back home", root_path %>
</div>
