<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <ul class="nav pull-left">
          <li><%= link_to "About 12 Days Project", 'http://12days.github.io' %></li>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Sign in", login_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
